html {
     overflow-x: hidden;
}
body {
    background-color: black;
    width: 100%; 
    overflow-x: hidden;
}
img {
    max-width: 100%;
    height: auto;
}

* {
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

a {
    text-decoration: none;

}

